*{
  font-family: 'Poppins', sans-serif;
}
body{
  margin:0;
  padding:0;
  color: dodgerblue;
}
.result{
  height: 150px;
  color: rgb(5, 150, 5);
  width: 100%;
  margin:auto;
  border-radius: 7px;
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  /* box-shadow: 5px 5px 15px 5px black; */

}
#principle-display{
   height: 20%;
   padding: 10px;
}
#loan{
  height: 20%;
  padding: 10px;
}
#per-month{
  height: 20%;
  padding: 10px;
}

.interest{
  font-size: 30px;
  color: red;
}

.loan{
  font-size: 30px;
  color: red;
}

.principle{
  font-size: 30px;
  color: red;
}
#interest{
  height: 30%;
  padding: 10px;
}
.calculator{
  height: 90vh;
  /* background: black; */

}
.text-center{
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
}
.form{
  width: 80%;
  box-shadow: 5px 5px 15px 5px darkslategray;
  margin:auto;
  text-align: center;
  padding:30px;
  border:5px solid dodgerblue;
}
.form-group{
  padding:10px;
}
.myfield{
  width: 95%;
  padding:10px;
  background-color: none;
  border-bottom: 1px solid dodgerblue;
  color: dodgerblue;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  border-left:none;
  border-right: none;
  border-top: none;
  outline: none;
}

.mybtn{
  padding:20px;
  border:none;
  cursor: pointer;
  background-color: dodgerblue;
  color: white;
  font-weight:bold;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 7px;
}

.clear{
  padding:20px;
  border:none;
  cursor: pointer;
  background-color: green;
  color: white;
  font-weight:bold;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 7px;
  text-decoration: none;
}
.previous-calcs{
  margin-top: 100px;
  padding: 20px;
  border:5px solid dodgerblue
}

.table{
  width: 80%;
  margin: auto;
}

.table th{
  background-color: dodgerblue;
  color: white;
  padding: 10px;
}

.table td{
  padding: 5px;
  border: 1px solid dodgerblue;
}

@media(max-width:600px){
    .calculator{
      padding: 0;
    }
    .form{
      width: 100%;
    }
    .result{
      font-size: 15px;
    }
    .loan{
      font-size: 20px;
    }
    .interest{
      font-size: 20px;
    }
    .principle{
      font-size: 20px;
    }
    .result{
      display: block;
      padding: 0;
      height:300px;
    }
    #principle-display{
      padding: 0;
      font-size: 16px;
      height: 20%;
    }
    #loan{
      padding: 0;
      height: 20%;
    }
    #interest{
      padding: 0;
      height: 20%;
    }
    #per-month{
      padding: 0;
      height: 20%;
    }
}